.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  color: var(--text);
}

.checkboxInput {
  margin-right: 0.5rem;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text);
}

.inputContainer {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 0.7rem; /* Distância da borda direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centralização */
  cursor: pointer;
  background: transparent;
  border: 0;
  width: 2rem; /* Defina uma largura fixa */
  height: 2rem; /* Defina uma altura fixa */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary);
  padding: 0; /* Remova padding para evitar expansão da área de clique */
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--text);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.input.error {
  border-color: var(--error);
}

.textArea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--text2);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.textArea.error {
  border-color: var(--error);
}

.errorSpan {
  color: var(--error);
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
