.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  color: var(--text);
}

.checkboxInput {
  margin-right: 0.5rem;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--text);
}
.inputContainer {
  position: relative;
  width: 100%;
}

.input,
.textArea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--tertiary);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  margin-bottom: 0.5rem;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.errorSpan {
  display: block;
  color: var(--error);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
