.container {
  min-height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mapContainer {
  display: flex;
  flex-direction: column;
}
.dashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--primary);
  box-shadow: 0 4px 8px var(--accent);
  margin-bottom: 1rem;
}

.dashboardItem {
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 500;
  margin: 0 1rem;
}

.loadingText {
  font-size: 1rem;
  color: var(--secondary);
  font-style: italic;
  margin: 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.8rem;
  gap: 0.2rem;
  width: 50%;

  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
