.cardcontainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 0.8em rgb(65, 14, 52);
  height: 300px;
  margin: 8px 8px;
  background-color: var(--primary);
  width: 400px;
  padding: 4px;
  word-wrap: break-word;
  overflow-y: auto;
  border-radius: 8px;
  color: var(--text);
  gap: 0;
}

.cardcontainer span {
  font-weight: bolder;
}

.map{
height: 50%;
width: 100%;
padding: 4px;
}
.mapContainer {
  height: 100%;
  width: 100%;
}

.texto{
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
  gap: 0;
  margin-top: 6px;
}
.topo {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
.topo h3{
  font-size: 16px;
}
.topo p{
  font-size: 12px;
}

.endereco{
  font-size: 12px;
}

.praticas{
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0 10px;
  font-weight: bold;
}
.praticas span {
  font-weight: bold;
}


